html,body
{
	min-width: 300px;
	min-height: 300px;
	margin: 0;
	padding: 0;

}
*
{
	box-sizing: border-box;
}
h3
{
	padding: 0;
	margin: 0;
	color:#FFF;
}
nav
{
	width: 100%;
	height: 40px;
	background: #4caf50;
	padding: 10px;
}

#modify
{
	
	height: 40px;
	width: 140px;
	background: #009688;
	border:none;
	outline: none;
	color:#FFF;
	font-family: sans-serif;
}

.checkbox
{
	float:left;
}



.checkbox span
{
	position: relative;
	bottom: 8px;
	font-size: 15px;
	margin-right: 12px;
}
td
{
	width: 10%;
}
.tagCheckbox
{
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	background: #EEE;
	border-radius: 1px;
	box-sizing: border-box;
	position: relative;
	box-sizing: content-box ;
	width: 20px;
	height: 20px;
	border-width: 0;
	transition: all .3s linear;
}

.tagCheckbox:checked{
  background-color: #2ECC71;
}
.tagCheckbox:focus{
  outline: 0 none;
  box-shadow: none;
}

#color
{
	float:left;
}